@use "variables";

body {
    margin: 0;
    background-color: variables.$bg;
    // background-color: variables.$bg2; 
    color: var(--text);
    font-size: 26px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1.5rem;
}